* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.Contenedor_padre {
      background-image: url(/Picture/fondo.jfif);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

}

.Lista {
      display: flex;
      justify-content: space-between;
      /* distribuye a izquierda-centro-derecha */
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bolder;
      border: solid 2px;
}

.Lista li {
      margin: 0 15px;
}

a {
      transition: 05s;
      text-decoration: none;
      color: white;

}

li {
      transition: 0.5s;
}

li:hover {
      transform: scale(0.9);
}